<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='style.css')}}">
    <script defer src="{{ url_for('static' , filename='scrips.js')}}"></script>
    <title>ArchaeoOpenBase</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              color1: '#DBA251',
              color2: '#E3B678'
            }
          }
        }
      }
    </script>
</head>
<body>
    <header class="bg-color1 flex justify-around p-10 py-12">
      <ul>
        <li><a href="/connect" class="active font-serif text-orange-950 text-2xl">login</a></li>
        <li><a href="/register" class="active font-serif text-orange-950 text-2xl">register</a></li>
      </ul>
      <ul>
        <li><a href="/" class="text-3xl font-serif text-orange-950">•ArchaeoOpenBase•</a></li>
        <form action = "/search" method = "get" class = "flex justify-center">
          <input type = "text" name = "q" placeholder = "recherche" class="">
          <button type = "submit" class = "">🔍</button>
      </form>
      </ul>
      <ul>
        <li><a href="/publish" class="active font-serif text-orange-950 text-2xl">publish</a></li>
      </ul>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="bg-color1 text-center font-serif text-orange-950">
      <br>
      <p>Pour toute demande contactez nous sur cette adresse email : spaceprogrammers@gmail.com</p>
      <div class="flex justify-around">
      <img class="size-8" src="../../static/images/enveloppe.png"/> 
      </div>
      <br>
    </footer>
</body>
</html>