{% extends 'front/base.html' %}
{% block content %}
{% if erreur %}
<p> Erreur : {{erreur}}</p>
{% endif %}
<main class="bg-color2">
    <br>
    <div class="flex justify-center space-y-6 bg-color1 text-orange-950 font-serif">
        <form method="POST" action = "">
            <br>
            <div class="text-center">
                <label>Utilisateur</label>
                <input name ="utilisateur" type="text" placeholder="nom de l'utilisateur">
            </div>
            <br>
            <div class="text-center">
                <label>mots de passe</label>
                <input name ="mots_de_passe" type="text" placeholder="entrer votre MDP">
            </div>
            <br>
            <div class="flex justify-center" >
                <button type = "submit">se connecter</button>
            </div>
            <br>
        </form>
    </div>
    <br> 
</main>
{% endblock %}
