<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArchaeoOpenBase</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              color1: '#DBA251',
              color2: '#E3B678'
            }
          }
        }
      }
    </script>
</head>
<body>
  <div class="text-center">
    <h1> 404 </h1>
    <p> VOUS NE PASSEREZ PAS ! </p>
  </div>
</body>