{% extends 'front/base.html' %}
{% block content %}
<main class="bg-color2">

    <br>
    <div class="bg-color1 text-center rounded-lg shadow-md text-orange-950 font-serif text-2xl">
        <br>
        <h2 class="font-semibold"> Bonjour </h2>
        <br>
        <p class="font-semibold ">Ce site s'adresse aux professionnels de l'archeologie.</p>
        <p class="font-semibold ">Les informations recueillies ici peuvent s'avérer precieuses pour la valorisation.</p>
        <p class="font-semibold">Les articles publiés sont rediger par des archeologues et peuvent inclure photographies et des rapport de fouille.</p>
        <br>
    </div>
    <br>
    <br>
    <section class="grid grid-cols-4 flex flex justify-around flex-col gap-8 ">
        {% for item in annonce %}
        <article class="bg-stone-50 text-center rounded-lg border border-color1 shadow-md p-4">
            <p> {{item.titre_annonces}} </p>
            <p class="line-clamp-2"> {{item.phrase_annonces}} </p>
            <p>N°inventaire : {{ item["n_inventaire"] }}</p>
            {% if item.image %}
                <img src="{{ url_for('static', filename='uploads/' + item.image) }}" width="400" height="300" class="mx-auto my-4" >
            {% endif %}
            {% if item.video %}
                <video controls width="500">
                <source src="{{ url_for('static', filename='uploads/' + item.video) }}">
                </video>
            {% endif %}

            {% if item.youtube_id %}
                <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{{ item.youtube_id }}"
                frameborder="0"
                allowfullscreen>
                </iframe>
            {% endif %}
            <div>
                <span> {{annonce.likes}}</span>
                <a href="{{url_for('like_post', annonces_id = item._id)}}"
                    class="">
                    {% if session.get('user') in annonce.liked_by %}
                        💔 dislike
                    {% else %}
                        ❤️ like
                    {% endif %}

                </a>
            </div>
            <br>

            <!-- Carte Google Maps -->
            {% if item.lat and item.lng %}
                <p>Coordonnées : {{ item.lat }} - {{ item.lng }}</p>
            {% endif %}
            <a class="text-stone-500" href="{{ url_for('viewpost', id=item['_id']) }}">afficher plus</a>
            
        </article>
        {% endfor %}
    
        <div id="map" class="w-full h-96 my-6 rounded-lg shadow-md" style="width: 100%; height: 500px; margin-top: 20px;"></div>
    </section>
    <br>

</main>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxvPdCouaDKnkKMkP1L6vOkKZbPak24b4&callback=initMap">
</script>
<script>
    const annonces = {{ annonce | tojson }};

    function initMap() {
        const centre = { lat: parseFloat(annonces[0].lat), lng: parseFloat(annonces[0].lng) };

        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 6,
            center: centre
        });

        // Marqueur test
        annonces.forEach(a => {
            if(a.lat && a.lng) {
                new google.maps.Marker({
                    position: { lat: parseFloat(a.lat), lng: parseFloat(a.lng) },
                    map: map,
                    title: a.titre_annonces
                });
            }
        });
    }
    </script>

{% endblock %}