{% extends 'front/base.html' %}
{% block content %}
<main class="bg-color2">

    <br>
    <div class="bg-color1 text-center rounded-lg shadow-md text-orange-950 font-serif text-2xl">
        <br>
        <h2 class="font-semibold"> Bonjour </h2>
        <br>
        <p class="font-semibold ">Ce site s'adresse aux professionnels de l'archeologie.</p>
        <p class="font-semibold ">Les informations recueillies ici peuvent s'avérer precieuses pour la valorisation.</p>
        <p class="font-semibold">Les articles publiés sont rediger par des archeologues et peuvent inclure photographies et des rapport de fouille.</p>
        <br>
        <li><a href="/viewpost" class="active font-serif text-orange-950">voir les articles</a></li>
        <br>
    </div>
    <br>

</main>

{% endblock %}