{% extends 'front/base.html' %}
{% block content %}
<main class="bg-color2"> 
    <br>
        <article class="bg-stone-50 text-center rounded-lg border border-orange-200 shadow-md">
                <p>{{ item["titre_annonces"] }}</p>
                <p>{{ item["phrase_annonces"] }}</p>
                <p>N°inventaire : {{ item["n_inventaire"] }}</p>
                {% if item.image %}
                <img src="{{ url_for('static', filename='uploads/' + item.image) }}" width="400" height="300" class="mx-auto my-4">
                {% endif %}
                {% if item.video %}
                <video controls width="500">
                <source src="{{ url_for('static', filename='uploads/' + a.video) }}">
                </video>
                {% endif %}

                {% if item.youtube_id %}
                <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{{ a.youtube_id }}"
                frameborder="0"
                allowfullscreen>
                </iframe>
                {% endif %}
                <br>
        
                <!-- Carte Google Maps -->
                {% if item.lat and item.lng %}
                    <p>Coordonnées : {{ item.lat }} - {{ item.lng }}</p>
                {% endif %}
            
        </article>
    </section>
    <br>
</main>

{% endblock %}